
{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">

{% endblock %}
{% block title %} Main page {% endblock %}
{% block content %}
    {% if tag_name %}
        <h3>Posts by tag '{{tag_name}}'</h3> 
    {% endif %}
    {% if request.user %}
        <button class="my-button">
            <a href="{% url 'blog:create' %}" class="add-post">Add Post</a>
        </button>
    {% endif %}
   
    {% include "blog/posts.html" %}

    {% include "blog/pagination.html" %}
    
{% endblock %}