<div class="pagination">
    <div class="step-links">
    {% if page_obj.has_previous %}
        <a class="step-link" href="?page=1"><<</a>
        <a class="step-link" href="?page={{page_obj.previous_page_number}}">Prev</a>
    {% endif %}    
    {% for page in page_obj.elided_page_range %}
        
        {% if page == page_obj.paginator.ELLIPSIS %}
            ...
        {% elif page == page_obj.number %}
            <span class="page-number">{{page}}</span>
        {% else %}
            <a class="page-number step-link" href="?page={{page}}">{{page}}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
            <a class="step-link" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="step-link" href="?page={{page_obj.paginator.num_pages}}">>></a>
    {% endif %}
    </div>
</div>
